/* Tabs at top, at the end of which we insert the button */
.subtabs {
    height: 60px !important;
}
#custom-button {
    display: block;
    margin: 10px 0;
    background: #00356b;
    z-index: 200;
    padding: 10px 30px;
    font-size: 16px;
    color: white;
}
.hidden-select {
    display: none;
}
.custom-input {
    display: block;
    min-width: 300px;
}
